<link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>



<div class="topnav">
  <a href="/" class="pull-left"><img src="assets/SocialIneractionsIcon.png"></a> 
<div class =topnav-right>
    <a class="active" href="/home" class="btn"> Social Interactions </a>
    <a href="/aboutus" class="btn"> About Us </a>
    <a *ngIf="!currentUser" href="/signup" class="btn"  > Sign Up </a>
    <a *ngIf="!currentUser" href="/login" class="btn"  > Login  </a>
    <a *ngIf="currentUser" href="/groups" class="btn"> Groups </a>
    <a *ngIf="currentUser" href="/group/1/events" class="btn"> Events </a>
    <a *ngIf="currentUser" href="/user" class="btn"> Profile </a>
    <a *ngIf="currentUser" onClick="window.location.reload();"style=" background-color: #ffcd24;" class="btn" (click)="logout()"> Logout </a>
</div>
</div>



    <!--
      {{currentUser.username}}
      //Check if current user is logged in
      *ngIf="currentUser"
      //Refresh window
      onClick="window.location.reload();"
    <li><a routerLink="/signup" routerLinkActive="active">Sign Up</a></li> 
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/groups" routerLinkActive="active">Groups</a></li>
    <li><a routerLink="/user" routerLinkActive="active">Profile</a></li>
    -->


