<link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
<div>
    <h1>Social Interactions</h1>
    <h1>Hi {{currentUser.firstName}}!</h1>
    <a href="/" class="btn">Home</a>
    <a href="/signup" class="btn">Sign Up</a>
    <a href="/login" class="btn">Login</a>
    <a href="/groups" class="btn">Group</a>
    <a href="/user" class="btn">Profile</a>
</div>



    <!--
    <li><a routerLink="/signup" routerLinkActive="active">Sign Up</a></li> 
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/groups" routerLinkActive="active">Groups</a></li>
    <li><a routerLink="/user" routerLinkActive="active">Profile</a></li>
    -->


