<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12"> <b>Copyright &copy; 2020 PRJ566G08 </b>
           
                <ul class="social-icons">
                  <li><a class="github" href="https://github.com/PhilipMroczkowski/Social-Interactions"><i class="fa fa-github"></i></a></li>
                </ul>
    </div>
 </div>
 </div>
   
</footer>