<div class="wrapper row2">
    <div id="container" class="clear">
    
      <div id="about-us" class="clear">
        <!-- ####################################################################################################### -->
        <section id="about-intro" class="clear">
          <h2>About Us</h2>
          <img src="assets/people-talking.jpg" alt="">
          <p>We here at Social Interaction are all about bringing people together, getting people out there and enjoying their hobbies with others of similar interests.</p>
          <p>We know that finding a new hobby or having a long time hobby is exciting. It would be even greater to meet up and particapte in events created specfically for that hobby</p>
          <p>Social Interactions team is hard working team brining you the perfect platform to connect with others that share the same passions and hobbys as you</p>
        </section>