<link href='https://fonts.googleapis.com/css?family=Carter One' rel='stylesheet'>
<div class="center">
<div class="wrapper row2">
    <div id="container" class="clear">
    
      <div id="about-us" class="clear">
        <!-- ####################################################################################################### -->
        <section id="about-intro" class="clear">
          <h2>About Us</h2>
          <img src="assets/people-talking.jpg" alt="">
          <p>We at Social Interactions want to bring people together, so they can meet up and enjoy their hobbies and interests in person.</p>
          <p>To find a new hobby and enjoy a longterm hobby is exciting. But, to enjoy that hobby with a new friend is even more exciting!</p>
          <p>The Social Interactions team works hard to bring you the perfect platform, to connect with others who share the same passions and hobbies as you!</p>
        </section>
      </div>