<!DOCTYPE html>
<html lang="en">
 
    <body>
        <!-- Masthead-->
    
            <div class="container">
                <!-- Masthead Avatar Image-->
                <img class="banner" src={{group.groupCoverPhoto}} width="960" height="640" alt="" />

               
            </div>
                
        <!-- Description Section-->
            <div class="container2">
                <h2>{{group.name}}</h2>
             
                <b>Group Tags</b>
                {{group.tags}}<br>
                <b>Category</b>
                {{group.category}} || {{group.subCategory}}
            
                <!-- description Section Heading-->
                <h2 class="description">Description</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    
                </div>
                <div>
                    
                       <p> {{group.description}} </p> 
                        <a class="btn btn-xl btn-outline-light" style=" background-color: #ffcd24;" (click)="viewEvents()">
                            
                            View Events
                        </a>
                    
                </div>
            </div>
        
        
    </body>
</html>