<div class="center">
    <h2><b>All Main Events</b></h2>
</div> <br>


<div class="container">

    <input style="text-align: center; font-style: oblique; color: white; font-size: larger; font-weight: bolder ; background-color: #2c2f31;" class="form-control"  w3-hover-yellow id="EventSearch" name="EventSearch" type="text" placeholder="Search an Event" 
                    (keyup)="onEventSearchKeyUP($event)" /><br />

                <ul *ngFor='let event of filteredEvents'>
                    <div *ngFor="let picture of EventPictures">
                        <li> <img *ngIf="picture.id == event.id" src={{picture.image}} class="img-thumbnail" width="200" height="200"  /></li>
                    </div>
                    <li style="font-size: x-large; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                       <u><a style="color: #ffcd24;" (click)="viewEvent(event.id)">{{event.name}}</a></u>
                    </li>
                    <br>
                    <li><b>Description: </b>{{event.description}}</li> <hr/>
                </ul> <hr/>
</div>
