
<!-- <div class="container"> -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
  

<body>
  
<div class="container">

  <h1><b><i>Welcome</i></b></h1>
  <nav>
    <div class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
          <li><a routerLink="/signup" routerLinkActive="active">Sign Up!!</a></li> 
          <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
          <li><a routerLink="/group" routerLinkActive="active">Groups</a></li>
          <li><a routerLink="/user" routerLinkActive="active">Profile</a></li>
          
      </ul>
    </div>
  </nav> 
 

<!--  
<section id="feature" >
  <div class="carousel-content">
    <div class="center"><h1>Who are we?????</h1>
    </div>
    <div class="row">
      <div class="color-border"></div>
      <div class="features">
        <div class="col-md-6 col-sm-6">
          <ul>
            <li><h6>We unite people with similar hobbies and interests. We help you <b>socialize!!!</b></h6></li>
            <li><h6>A group of I.T students committed to help you expand your horizons</h6></li>
          </ul>  
        </div>

        <hr> <br/>

        <div class="col-md-6 col-sm-6">
         
            <h6>Using our web-app you can leverage the following features</h6>
              <p>Join Groups</p> <br/>
                 <p>Identify what interests you the most</p> <br/>
                 <p>Participate in Events</p> <br/>
                 <p>Chat with fellow members</p> <br/>
              

            <h3>But first, you must sign up...</h3>
        </div>

      </div>

    </div>

  </div>

</section> -->

<!-- <div class="row slide-margin">


</div> -->
 </div>
</body>
<!--<router-outlet></router-outlet> -->

<!-- <div class="color-border"><app-signup></app-signup></div>
</div> -->
 
<!--</body> -->
 <!--<app-group></app-group> -->

<!--</div> 
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6"><b>Copyright &copy; 2020 PRJ66G08</b></div>
      <div class="col-sm-6">
        <div class="follow-us"> <a class="fa fa-facebook social-icon" href="#"></a> <a class="fa fa-twitter social-icon" href="#"></a> <a class="fa fa-linkedin social-icon" href="#"></a> <a class="fa fa-google-plus social-icon" href="#"></a> </div>
      </div>
    </div>
  </div>
</footer> -->

<!-- <create-event></create-event> -->







