<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h6>Event Name</h6>
                <p>Give your event a brief and clear name that helps people quickly understand what your event is</p>
            </div>
            <div class="col-md-6">
                <div id="specialStyle"><label for="eventName">Name</label><br><input type="text" id="eventName" name="eventName" size="50"></div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h6>Event Categories</h6>
                <p>Choose the main category that most closely align with your event.</p>
                <p>You may add one or more categories for further clarification of your event</p>
                <p>You'll be able change you main category and subcategories even after your event page is launched</p>
            </div>
            <div class="col-md-6">
                <div id="specialStyle"><label for="maincategories">Maincategories</label><br><input type="text" id="maincategories" size="50" name="subcategories"></div>
                <div id="specialStyle"><label for="subcategories">Subcategories</label><br><input type="text" id="subcategories" size="50" name="subcategories">
                    <p id="notice">Separate two different categories with a coma</p>
            </div>
        </div>
    </div>
</div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h6>Event Location</h6>
                <p>Enter the location at which your event us going to be held</p>
            </div>
            <div class="col-md-6">
                <div id="specialStyle"><label for="location">Event Location</label><br><input type="text" id="location" size="50" name="location" placeholder="Eg: 1750 Finch Ave East"></div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h6>Event Image (Optional)</h6>
                <p>Choose an image that best represents your event</p>
                <p>Choose one that looks good on different size. It will appears in different sizes at different places: on your main event page, across different platforms and browsers</p>
            </div>
            <div class="col-md-6">
                <div id="specialStyle" class="submitFile"><input type="file" id="imageFile" name="imageFile">
                    <p id="fileNotice">Browse an image file from your computer</p>
                    <p id="fileFurtherNotice">It must be a JPG, PNG, GIF, TIFF, or BMP, no larger than 100 MB</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h6>Event Date</h6>
                <p>Enter a date where you plan to hold the event</p>
            </div>
            <div class="col-md-6">
                <div id="specialStyle" class="submitFile">
                    <div class="row">
                        <div class="col"><span id="specialStyle"><label for="dayStart" style="padding: 10px">Day</label><input type="text" id="dayStart" name="dayStart" size="2" placeholder="DD"></span><span id="specialStyle"><label for="monthStart" style="padding: 10px">Month</label><input type="text" id="monthStart" name="monthStart" size="2" placeholder="MM"></span>
                            <span
                                id="specialStyle"><label for="yearStart" style="padding: 10px">Year</label><input type="text" id="yearStart" name="yearStart" size="2" placeholder="YYYY"></span>
                        </div>
                        <div class="clearfix w-100"></div>
                        <div class="col">
                            <div style="border-top: 1px solid black; padding: 10px">
                                <p>You must follow these rules when setting up a date for your event:</p>
                                <p>1. There must not be two events held on the same date</p>
                                <p>2. There must not be an event held during the duration of another event</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="border-right: transparent"></div>
            <div class="col-md-6"><input type="submit" id="saveButton" value="save" name="saveButton" style="float: right"></div>
        </div>
    </div>
</div>