<<<<<<< HEAD
/*@import "~bootstrap/dist/css/bootstrap.css"; */
=======
/*@import "~bootstrap/dist/css/bootstrap.css";*/
>>>>>>> a22d2ea11b18ff7ef825167f164d7b06f335976d

.container {
    border-right: transparent;
    border-style: ridge;
  }
  
  .col-md-6 {
    border-right: ridge;
  }
  
  label {
    font-weight: 500;
  }
  
  #specialStyle {
    margin: 10px;
  }
  
  #notice {
    font-style: italic;
  }
  
  .submitFile {
    border: solid black 1px;
  }
  
  #fileNotice {
    font-size: smaller;
    font-weight: 500;
  }
  
  #fileFurtherNotice {
    color: gray;
    font-size: smaller;
  }
  
  