<h2>Create Group</h2>
<form class="container" [formGroup]="createGroupForm" (ngSubmit)="OnSubmit()">
    
         
  <div class="form-group">
    <label for="name">Group Name</label>
    <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Group Name is required</div>
    </div>
</div>
<div class="form-group">
  <label for="category">Category</label>
  <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.category.errors }" />
  <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
      <div *ngIf="f.category.errors.required">Category is required</div>
  </div>
</div>
<div class="form-group">
  <label for="subCategory">Sub Category</label>
  <input type="text" formControlName="subCategory" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subCategory.errors }" />
  <div *ngIf="submitted && f.subCategory.errors" class="invalid-feedback">
      <div *ngIf="f.subCategory.errors.required">Sub Category is required</div>
  </div>
</div>
<div class="form-group">
  <label for="purpose">Purpose</label>
  <input type="text" formControlName="purpose" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.purpose.errors }" />
  <div *ngIf="submitted && f.purpose.errors" class="invalid-feedback">
      <div *ngIf="f.purpose.errors.required">Group purpose is required, enter a short 1 or 2 sentence purpose.</div>
  </div>
</div>
<div class="form-group">
  <label for="description">Description</label>
  <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
  <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
      <div *ngIf="f.description.errors.required">Group description is required, please enter a longer form description than the purpose.</div>
  </div>
</div>

<div class="form-group">
  <label id="memberType">Age of Members allowed</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]='inputMemberType'>
  <mat-radio-button class="inputMemberType" *ngFor="let type of memberTypes">
    {{type}}
  </mat-radio-button>
</mat-radio-group>
</div>
            <div class="row">
              <div class="input-field col s12">
                <button class="btn-large btn-submit" type="submit" [disabled]="!f.valid">Submit</button>
              </div>
            </div>
          </form>
