<div class="container-fluid border rounded shadow">
    <nav class="navbar navbar-light navbar-expand-md d-flex float-none">
        <div class="container"><button data-toggle="collapse" data-target="#navcol-2" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
            </div><a class="navbar-brand d-md-flex" href="#"><h4>{{event.name}}</h4></a>
            <div class="collapse navbar-collapse" id="navcol-2">
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-4">
            <app-map [address]="event.location"></app-map>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-8">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top" src={{eventPicture.image}} width="200" height="400">
                            <h4 class="card-title">Overview</h4>
                            <h6 class="text-muted card-subtitle mb-2">Description</h6>
                            <p class="card-text">{{event.description}}</p>
                        </div>
                    </div>
                </div>
                <div class="col container">
                    <div class="clearfix"><app-calendar [EventDate]="event.date"></app-calendar></div>
                </div>
            </div>
        </div>
    </div>
</div>