<div class="wrapper row2">
    <div id="container" class="clear">
    
      <div id="home" class="clear">
        <!-- ####################################################################################################### -->
        <section id="home-groups" class="clear">
          <h2>Welcome to Social Interactions</h2>
          <p>Social Interactions is a unquie web app which allows people to connect and interact with others that share similiar hobbies together.</p>
          <p>Find a group that matches your exact interests and meet others that shore those interests.</p>
          <p>Don't see a group of your hobby, that is okay you can always create one and wait for users with similiar hobbies to join</p>
          <img src="assets/img/city1.jpg" alt="">
        </section>
        <section id="home-profile" class="clear">
            <h2>Creating a Profile</h2>
            <p>Create a unique profile tailor made to show of your interests and hobbies and groups you have joined and events you liked</p>
            <p>Profiles are quick and easy to setup and you can but whichever information you would like to add that represents you</p>
            <img src="assets/img/technology.jpg" alt="">
          </section>
        <section id="home-events" class="clear">
            <h2>Joining Events</h2>
            <p>What is next? You have joined some groups and are ready to start going to some events!</p>
            <p>Events are fully mointered by the group creator and admins and they can be created by the owner only.</p>
            <p>Got an event an mind but arent the leader you can make a suggestion in the groups feed.</p>
            <img src="assets/img/city2.jpg" alt="">

          </section>
          <div class="col-md-6 col-sm-6">
           
            <h6>Using our web-app you can leverage the following features</h6>  <br/>
              <b>
                 <a style="color: teal; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: x-large;" href="/groups" >Join <u>Exciting Groups</u> </a> <br /><hr >
                 <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: x-large;">Identify what interests you the most</p> <br/><hr >
                 <p style="color: darkgreen; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: x-large;">Participate in Events</p> <br/><hr >
              </b>

            
            <a href="/signup" style="color:black; font-weight: bolder; font-size: larger;" routerLinkActive="active" >But First, you must <b><u>Sign Up</u></b></a>
        </div>
