<link href='https://fonts.googleapis.com/css?family=Carter One' rel='stylesheet'>

<div class="center">
<div class="wrapper row2">
    <div id="container" class="clear">
    
      <div id="home" class="clear">
        <!-- ####################################################################################################### -->
        <section id="home-groups" class="clear">
          <h2>Welcome to Social Interactions</h2>
          <p>Social Interactions is a unique web app which allows people to connect and interact with others that share similiar hobbies together.</p>
          <p>Find a group that matches your exact interests and meet others that share those interests.</p>
          <p>Don't see a group of your hobby, that is okay you can always create one and wait for users with similiar hobbies to join</p>
          <img src="assets/img/city1.jpg" alt="">
        </section>
        <section id="home-profile" class="clear">
            <h2>Creating a Profile</h2>
            <p>Create a unique profile tailor made to show of your interests and hobbies and groups you have joined and events you liked</p>
            <p>Profiles are quick and easy to setup and you can but whichever information you would like to add that represents you</p>
            <img src="assets/img/technology.jpg" alt="">
          </section>
        <section id="home-events" class="clear">
            <h2>Joining Events</h2>
            <p>What is next? You have joined some groups and are ready to start going to some events!</p>
            <p>Events are fully mointered by the group creator and admins and they can be created by the owner only.</p>
           <!-- <p>Got an event an mind but are not the leader you can make a suggestion in the groups feed.</p> -->
            <img src="assets/img/city2.jpg" alt="">

          </section>
          <section id="home-events" class="clear">
            <h2>Using our web-app allows you to access various features</h2>  <br/>
              <b>
                 <a href="/groups" style="color: #ffcd24;" routerLinkActive="active" >Join <u>Exciting Groups</u> </a> <br /><hr >
                 <p> Identify what interests you the most </p> <br/><hr >
                 <p> Participate in Events </p> <br/><hr >
              </b>
            <a href="/signup" style="color:#ffcd24;" routerLinkActive="active" >But First, you must <b><u>Sign Up</u></b></a>
          </section>
        
</div>
</div>